name: Deploy Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 46.224.219.50 >> ~/.ssh/known_hosts

      - name: Deploy code
        run: |
          rsync -avz --delete \
            --no-perms \
            --no-owner \
            --no-group \
            --chown=admin:www-data \
            --chmod=Du=rwx,Dgo=rx,Fu=rw,Fgo=r \
            --exclude ".git" \
            ./ admin@46.224.219.50:/var/www/masterlay-website
